@charset "UTF-8";
@import "normalize";
@import "variables";
@import "fonts";
@import "general";
@import "all-blocks/all-blocks";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
header {
  position: relative;
  width: 1440px;
  height: 96px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .menu_section {
    position: absolute;
    width: 1106px;
    height: 53px;
    left: 169px;
    top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 180px;
      height: 53px;
      background-color: #fcb72b;
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      border: none;
      text-align: center;
      cursor: pointer;
      color: #ffffff;
    }
    button:hover {
      background-color: white;
      color: #fcb72b;
      border: 3px solid #fcb72b;
    }

    .nav_ul {
      display: flex;
      width: 25%;
      justify-content: space-around;
      list-style-type: none;
      margin-right: 480px;

      .nav_li {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;

        a {
          color: #939caa;
          text-decoration: none;
        }
        a:hover {
          color: #fcb72b;
        }
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    position: absolute;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    margin-right: 900px;
    color: #ffffff;
  }
}

.first_moment {
  height: 449.94px;
  width: 1106;
  margin: 200px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
  }
  .text2 {
    position: relative;
    right: 200px;
    margin-left: 100px;

    p {
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 1px;
      color: #939caa;
    }
    button {
      width: 180px;
      height: 53px;
      background-color: #fcb72b;
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;

      border: none;
      text-align: center;
      cursor: pointer;
      color: #ffffff;
      position: relative;
      top: 30px;
    }
    button:hover {
      background-color: white;
      color: #fcb72b;
      border: 3px solid #fcb72b;
    }
  }
  .moment1 {
    position: relative;
    left: 140px;
    transition: 1s;
    animation-name: First;
    animation-fill-mode: forwards;
    animation-timeline: 3s;
    animation-duration: 2s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;

    img {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}
.chiziq3 {
  position: absolute;
  margin-left: 400px;
  margin-top: 130px;
}

@keyframes First {
  from {
    left: 400px;
    position: relative;
  }
  to {
    right: 400px;
  }
}

.Sarlavha2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}
.cards {
  width: 1110px;
  height: 608px;
  margin: 0 auto;
  .width2 {
    display: flex;
    justify-content: space-around;
    h5 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      letter-spacing: -1.07143px;
      margin-top: 20px;
      color: #495567;
    }
    p {
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      color: #939caa;
    }
  }
}
.submits {
  width: 1110px;
  height: 888px;
  margin: 0 auto;

  button {
    width: 180px;
    height: 53px;
    background-color: #fcb72b;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    border: none;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    position: relative;
    right: 20px;
  }
  button:hover {
    background-color: white;
    color: #fcb72b;
    border: 3px solid #fcb72b;
  }
  h4 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
    margin-left: 20px;
  }
  p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    margin-left: 30px;
    color: #495567;
  }

  .width5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .sumbit1 {
      width: 1110px;
      height: 128px;
      background: #f2f5f9;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sumbit2 {
      width: 1110px;
      height: 128px;
      background: #f2f5f9;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sumbit3 {
      width: 1110px;
      height: 128px;
      background: #f2f5f9;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sumbit4 {
      width: 1110px;
      height: 128px;
      background: #f2f5f9;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sumbit5 {
      width: 1110px;
      height: 128px;
      background: #f2f5f9;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sumbit6 {
      width: 1110px;
      height: 128px;
      background: #f2f5f9;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

footer {
  width: 1440px;
  height: 396px;
  background-color: #495567;
  margin: 0 auto;
  position: relative;
  top: 160px;

  .markets {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-right: 400px;
    position: relative;
    top: 100px;

    .google {
      width: 159px;
      height: 56px;

      background: #e5ecf4;
      border-radius: 4px;
    }

    .appstore {
      width: 159px;
      height: 56px;
      background: #e5ecf4;
      border-radius: 4px;
    }
  }

  .width2 {
    height: 100%;
    width: 1300px;
    margin: 0 auto;

    img {
      position: relative;
      top: 53px;
      left: 217px;
      width: 1153px;
    }

    h1 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14286px;
      color: #ffffff;
      position: relative;
      top: 135px;
      left: 102px;
    }
  }

  .ending1 {
    width: 1440px;
    background-color: #333a44;

    .ending2 {
      background: #333a44;
      width: 1106px;
      height: 53px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav_ul {
        display: flex;
        width: 25%;
        justify-content: space-around;
        list-style-type: none;
        margin-right: 480px;

        .nav_li {
          font-family: "Space Mono";
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 25px;

          a {
            color: #939caa;
            text-decoration: none;
          }
          a:hover {
            color: #fcb72b;
          }
        }
      }
    }
  }
}
.icons {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.icons:hover {
  color: #fcb72b;
}
